<section id="about">
                <div class="box">
                    <h2 class="section-title">Qui suis-je ?</h2>
                    <div class="row">
                        <div class="col-md-3 col-md-push-9 col-sm-4 col-sm-push-4 col-xs-4 col-xs-push-4">
                            <figure><img src="../ui/img/Philippe.jpeg" alt="" /></figure>
                        </div>
                        <!-- /column -->
                        <div class="col-md-9 col-md-pull-3 col-sm-12 col-xs-12">
                            <p>Depuis plusieurs années, je m'intéresse aux nouvelles technologies et me suis découvert une passion pour le développement. Ayant commencé à développer en autodidacte, j'ai , par la suite, rejoint une formation G2R de 3 mois en 2017 suivi d'un stage.</p>
                            <p>J'ai poursuivi cette formation en effectuant en 2018 le parcours PHP/Symfony chez Openclassrooms. Formation très intense de 12 mois durant laquelle j'ai validé différents projets (Wordpress, UML, PHP orienté objet, Symfony, API REST...) pour finalement valider mon diplôme RNCP2.</p>
                            <p>Enfin, j'ai intégré une pépinière Symfony (formation de 3 mois pour intégrer la société dans laquelle je suis maintenant): 3 mois sur l'orienté objet, MongoDb, Redis, Symfony évidemment et un mois sur Angular7.</p>
                            <p>Depuis mars, je suis ingénieur d'études et développement.</p>
                            <p>En parallèle, et durant les 3 premiers mois, je participe à des conférences SensioLabs.</p>
                            <p>Découvrant de plus en plus de choses dans cet univers, je me concentre pour l'instant sur le PHP et Symfony ainsi que sur JavaScript et sur Angular, mais j'essaie, en parallèle, de m'intéresser au langage Python par exemple, Drupal, etc...</p>
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                    <div class="clearfix"></div>
                    <div class="divide40"></div>
                    <h2 class="section-title">&nbsp;</h2>
                    <div class="divide10"></div>
                    <!--<div class="services-1">-->
                    <!-- /.services -->
                </div>
                <!-- /.box -->
            </section>
