<nav class="navbar navbar-default">
    <div class="navbar-header"> <a class="btn responsive-menu" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
        <!--<div class="navbar-brand text-center"> <a href="index.html"><img src="style/images/logo.png" alt="" data-src="style/images/logo.png" data-ret="style/images/logo@2x.png" class="retina" /></a> </div>-->
        <!-- /.navbar-brand -->
    </div>
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="current"><a href="index.php#home" class="hint--right" data-hint="Accueil"><i class="budicon-home-1"></i><span>Accueil</span></a></li>
            <li><a href="index.php#portfolio" class="hint--right" data-hint="Portfolio"><i class="budicon-image"></i><span>Portfolio</span></a></li>
            <li><a href="#about" class="hint--right" data-hint="A propos"><i class="budicon-author"></i><span>A propos</span></a></li>
            <li><a href="index.php#skills" class="hint--right" data-hint="Compétences"><i class="budicon-setting"></i><span>Compétences</span></a></li>
            <li><a href="index.php#contact" class="hint--right" data-hint="Contact"><i class="budicon-profile"></i><span>Contact</span></a></li>
            <li><a href="style/pdf/CV_TRAON_2019.pdf" class="hint--right" data-hint="CV"><i class="budicon-note-9"></i><span>CV</span></a></li>
        </ul>
        <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse-->
    <!-- /#elsewhere -->
</nav>
