<section id="portfolio" class="portfolio">
                <div class="box">
                    <h2 class="section-title pull-left">Projets</h2>
                    <div id="filters-container" class="cbp-l-filters-alignRight pull-right">
                        <div data-filter="*" class="cbp-filter-item-custom-active cbp-filter-item-custom btn">Tous</div>
                        <div data-filter=".html" class="cbp-filter-item-custom btn">HTML/CSS</div>
                        <div data-filter=".javascript" class="cbp-filter-item-custom btn">JS/jQuery</div>
                        <div data-filter=".php" class="cbp-filter-item-custom btn">PHP/MySQL</div>
                        <div data-filter=".wordpress" class="cbp-filter-item-custom btn">Wordpress</div>
                        <!--<div data-filter=".integration" class="cbp-filter-item-custom btn">Maquettes</div>-->
                    </div>
                    <!-- /#filters-container -->
                    <div class="clearfix"></div>
                    <div id="grid-container" class="cbp-l-grid-masonry">
                        <ul>
                            <li class="cbp-item frame wordpress"> <a class="cbp-caption cbp-singlePage" href="projets/postchalets.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/ChaletBLANC.png" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Projet Wordpress</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame html"> <a class="cbp-caption" href="http://mozaique.lille.free.fr/" target="_blank">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/logo-blanc.png" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Mon premier site</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame html javascript"> <a class="cbp-caption cbp-singlePage" href="ajax/postfestival.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/festival.png" style="background: #FFF;" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Prototype</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame php"> <a class="cbp-caption" href="http://snowtricks-oc.herokuapp.com/" target="_blank">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/logo-Snowtricks.png" style="background: #FFF;" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Projet Symfony</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame php"> <a class="cbp-caption cbp-singlePage" href="ajax/post2.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/minichat.png" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Mini-chat</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame html"> <a class="cbp-caption " href="http://onfaitnotre.com/" target="_blank">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/OnFaitNotreComHD.jpg" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Book Elliott & Léa</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame wordpress"> <a class="cbp-caption " href="http://tymariewordpress2.philippetraon.com/" target="_blank">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/logo2.jpeg" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">TY MARIE</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame php"> <a class="cbp-caption " href="http://www.soltexpertiz.com/" target="_blank">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/logo_final.png" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">SOLTEXPERTIZ</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="cbp-item frame javascript"> <a class="cbp-caption cbp-singlePage" href="ajax/postsnake.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/snake.png" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Snake</div>
                                            </div>
                                        </div>
                                    </div>
                                </a> </li>
                            <li class="cbp-item frame html php">
                                <a class="cbp-caption cbp-singlePage" href="ajax/post5.html">
                                    <div class="cbp-caption-defaultWrap"> <img src="../ui/img/NONO.PNG" alt=""> </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Le portfolio de Nono</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.cbp-l-grid-masonry -->
                    <div class="cbp-l-loadMore-button"> <a href="ajax/port1-more.html" class="cbp-l-loadMore-button-link btn">VOIR PLUS</a> </div>
                </div>
                <!-- /.box -->
            </section>
