<section id="skills">
                <div class="box">
                    <h2 class="section-title">Compétences</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="divide40"></div>
                            <!--<ul class="progress-list">
                                <li>-->
                            <div class="barWrapper">
                                <span class="progressText"><B>HTML5/CSS3</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>
                                    </div>
                                </div>
                                <span class="progressText"><B>JAVASCRIPT/jQuery</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>
                                    </div>
                                </div>
                                <span class="progressText"><B>PHP/MySQL</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="65%"> </span>
                                    </div>
                                </div>
                                <span class="progressText"><B>Wordpress</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>
                                    </div>
                                </div>
                                <span class="progressText"><B>SYMFONY</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="65%"> </span>
                                    </div>
                                </div>
                                <span class="progressText"><B>Angular/Ionic</B></span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%"> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="divide40"></div>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle active" data-parent="#accordion" href="#collapseOne"> HTML/CSS/Bootstrap</a> </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body"> Suite à de nombreuses lignes de code, de lectures de tutoriaux, de lectures de vidéo ainsi qu'à ma formation, j'ai pu acquérir de bonnes bases afin de construire un site. J'ai ensuite continué sur Bootstrap et m'intéresse à d'autres librairies, pour mettre en place, par exemple un site en material design.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseTwo"> JS/Jquery/Angular/Node.js/React.js</a> </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body"> Mon premier langage de programmation : Javascript.
                                            Beaucoup de travail pour comprendre ce langage en natif avant de passer à jQuery. Je travaille également sur Angular7 et Ionic. Je m'intéresse également à React ainsi qu'à Node en parallèle.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseThree"> PHP/Symfony</a> </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body"> Au cours de ma première formation , j'ai également eu des cours et des projets avec PHP et MySql : chat, espace membres, blog. Puis j'ai décidé de me spécialiser dans ce domaine en apprenant Symfony. </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#accordion" href="#collapseFour">CMS</a> </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">Le plus connu et le plus utilisé étant Wordpress, je m'intéresse plutôt à ce CMS (d'autant plus pour PHP et SQL). Je me forme, aujourd'hui, sur Drupal8.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/column -->
                    </div>
                    <div class="divide10"></div>
                </div>
                <!-- /.box -->
            </section>
